
OOP/7_Passenger train configurator/07_Passenger train configurator.csproj
OOP/7_Passenger train configurator/07_Passenger train configurator.csproj
OOP/7_Passenger train configurator/obj/Debug/_7_Passenger_train_configurator.pdb
OOP/7_Passenger train configurator/obj/Debug/_7_Passenger_train_configurator.pdb
OOP/7_Passenger train configurator/obj/Debug/_7_Passenger_train_configurator.exe
OOP/7_Passenger train configurator/obj/Debug/07_Passenger train configurator.csproj.CoreCompileInputs.cache
OOP/7_Passenger train configurator/obj/Debug/07_Passenger train configurator.csproj.AssemblyReference.cache
OOP/7_Passenger train configurator/bin/Debug/_7_Passenger_train_configurator.pdb
OOP/7_Passenger train configurator/bin/Debug/_7_Passenger_train_configurator.exe
OOP/7_Passenger train configurator/07_Passenger train configurator.csproj
Linq/Amnesty/Amnesty.csproj
Linq/Amnesty/App.config
Linq/Amnesty/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Amnesty/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Amnesty/Properties/AssemblyInfo.cs
Linq/Anarchy in the hospital/Anarchy in the hospital.csproj
Linq/Anarchy in the hospital/App.config
Linq/Anarchy in the hospital/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Anarchy in the hospital/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Anarchy in the hospital/Properties/AssemblyInfo.cs
Linq/Definition of overdue/App.config
Linq/Definition of overdue/Definition of overdue.csproj
Linq/Definition of overdue/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Definition of overdue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Definition of overdue/Properties/AssemblyInfo.cs
Linq/Search for the criminal/App.config
Linq/Search for the criminal/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Search for the criminal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Search for the criminal/obj/Debug/Search for the criminal.csproj.AssemblyReference.cache
Linq/Search for the criminal/Properties/AssemblyInfo.cs
Linq/Search for the criminal/Search for the criminal.csproj
Linq/Top players of the server/App.config
Linq/Top players of the server/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Top players of the server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Top players of the server/Properties/AssemblyInfo.cs
Linq/Top players of the server/Top players of the server.csproj
Linq/Translation of fighters/App.config
Linq/Translation of fighters/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Translation of fighters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Translation of fighters/Properties/AssemblyInfo.cs
Linq/Translation of fighters/Translation of fighters.csproj
Linq/Weapons Report/App.config
Linq/Weapons Report/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Linq/Weapons Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Linq/Weapons Report/Properties/AssemblyInfo.cs
Linq/Weapons Report/Weapons Report.csproj
